<p>
	Hi,<br/><br/>

	Womp has reviewed your materials and has assigned your project a price.<br/>

	To view your project, <b><%= link_to 'click here', scanning_project_url(@scanning_project) %>.</b><br/><br/>

	Thanks!<br/>
	The Womp Team
</p>
