<p>
	Hi,<br/><br/>

	Womp has received the model that you sent for scanning.<br/>

	No further action is needed by you, this is just a notification. To view your project, <b><%= link_to 'click here', scanning_project_url(@scanning_project) %>.</b><br/><br/>

	Thanks!<br/>
	The Womp Team
</p>
