<p>
	A new scanning project has been created by <b><%= @scanning_project.user.email %></b> that needs review/pricing assigned. To see it <b><%= link_to 'click here', admin_scanning_project_url(@scanning_project) %>.</b>
</p>
