<div class="fl w-100 pa2 bb b--gray mb4">
	<h1 class="bold">form elements</h1>
</div>

<div class="fl w-100 pa2">
	<h2 class="bold">buttons</h2>
</div>

<div class="fl w-100 pa2">
	<div class="fl w-100 w-20-ns pa2">
		<p class="styleguide-label">primary</p>
	</div>

	<div class="fl w-100 w-80-ns pa2">
		<a href="javascript:void(0)" class="button primary-button">primary</a>
		<a href="javascript:void(0)" class="button primary-button active">primary active</a>
		<a href="javascript:void(0)" class="button primary-button"><i class="fas fa-spinner spin"></i></a>
		<a href="javascript:void(0)" class="button primary-button"><i class="fas fa-download pr1"></i> <span class="pl1">download</span></a>
		<a href="javascript:void(0)" class="button primary-button disabled">disabled</a>
	</div>
</div>

<div class="fl w-100 pa2">
	<div class="fl w-100 w-20-ns pa2">
		<p class="styleguide-label">secondary</p>
	</div>

	<div class="fl w-100 w-80-ns pa2">
		<a href="javascript:void(0)" class="button secondary-button">secondary</a>
		<a href="javascript:void(0)" class="button secondary-button active">secondary active</a>
		<a href="javascript:void(0)" class="button secondary-button"><i class="fas fa-spinner spin"></i></a>
		<a href="javascript:void(0)" class="button secondary-button"><i class="fas fa-download pr1"></i> <span class="pl1">download</span></a>
		<a href="javascript:void(0)" class="button secondary-button disabled">disabled</a>
	</div>
</div>

<div class="fl w-100 pa2">
	<div class="fl w-100 w-20-ns pa2">
		<p class="styleguide-label">destructive</p>
	</div>

	<div class="fl w-100 w-80-ns pa2">
		<a href="javascript:void(0)" class="button destructive-button">destructive</a>
		<a href="javascript:void(0)" class="button destructive-button active">destructive active</a>
		<a href="javascript:void(0)" class="button destructive-button"><i class="fas fa-spinner spin"></i></a>
		<a href="javascript:void(0)" class="button destructive-button"><i class="fas fa-download pr1"></i> <span class="pl1">download</span></a>
		<a href="javascript:void(0)" class="button destructive-button disabled">disabled</a>
	</div>
</div>

<div class="fl w-100 pa2 mt4">
	<h2 class="bold">inputs</h2>
</div>

<div class="fl w-100 pa2">
	<p class="styleguide-label">text</p>
</div>

<div class="fl w-100 pa2">
	<div class="fl w-100 w-20-ns pa2">
		<p>label / with help text</p>
	</div>

	<div class="fl w-100 w-80-ns pa2">
		<fieldset>
			<label>this is a label</label>
			<input type="text" placeholder="placeholder text">
			<p class="caption">here is some help text</p>
		</fieldset>
	</div>
</div>

<div class="fl w-100 pa2">
	<div class="fl w-100 w-20-ns pa2">
		<p>no label / no help text</p>
	</div>

	<div class="fl w-100 w-80-ns pa2">
		<fieldset>
			<input type="text" placeholder="placeholder text">
		</fieldset>
	</div>
</div>

<div class="fl w-100 pa2">
	<div class="fl w-100 w-20-ns pa2">
		<p>icon left</p>
	</div>

	<div class="fl w-100 w-80-ns pa2">
		<fieldset class="left-icon-fieldset">
			<p class="left-icon"><span class="fas fa-search"></span></p>
			<input type="text" placeholder="placeholder text">
		</fieldset>
	</div>
</div>

<div class="fl w-100 pa2">
	<div class="fl w-100 w-20-ns pa2">
		<p>valid</p>
	</div>

	<div class="fl w-100 w-80-ns pa2">
		<fieldset>
			<input type="text" placeholder="placeholder text" class="valid">
			<p class="caption"><i class="fr fas fa-check-circle"></i></p>
		</fieldset>
	</div>
</div>

<div class="fl w-100 pa2">
	<div class="fl w-100 w-20-ns pa2">
		<p>invalid</p>
	</div>

	<div class="fl w-100 w-80-ns pa2">
		<fieldset>
			<input type="text" placeholder="placeholder text" class="invalid">
			<p class="caption"><span class="tl">error message</span> <i class="fr fas fa-times-circle"></i></i></p>
		</fieldset>
	</div>
</div>

<div class="fl w-100 pa2">
	<div class="fl w-100 w-20-ns pa2">
		<p>disabled</p>
	</div>

	<div class="fl w-100 w-80-ns pa2">
		<fieldset>
			<input type="text" placeholder="placeholder text" disabled>
		</fieldset>
	</div>
</div>

<div class="fl w-100 pa2">
	<div class="fl w-100 w-20-ns pa2">
		<p>textarea</p>
	</div>

	<div class="fl w-100 w-80-ns pa2">
		<fieldset>
			<textarea placeholder="placeholder text" rows="5"></textarea>
			<p class="caption">here is some help text</p>
		</fieldset>
	</div>
</div>

<div class="fl w-100 pa2">
	<p class="styleguide-label">select</p>
</div>

<div class="fl w-100 pa2">
	<div class="fl w-100 w-20-ns pa2">
	</div>

	<div class="fl w-100 w-80-ns pa2">
		<fieldset>
			<select name="material[resolution]" id="material_resolution">
				<option value="" disabled selected="selected">placeholder text</option>
				<option value="low">low</option>
				<option value="medium low">medium low</option>
				<option value="medium">medium</option>
				<option value="medium high">medium high</option>
				<option value="high">high</option>
				<option value="extra high">extra high</option>
			</select>
		</fieldset>
	</div>
</div>

<div class="fl w-100 pa2">
	<p class="styleguide-label">files</p>
</div>

<div class="fl w-100 pa2">
	<div class="fl w-100 w-20-ns pa2">
		<p>single file</p>
	</div>

	<div class="fl w-100 w-80-ns pa2">
		<fieldset>
			<input type="file" name="my_file" id="my_file" data-multiple-caption="{count} files selected">
			<label for="my_file"><span class="button primary-button mr2">choose file</span> <span class="update-text">no file chosen</span></label>
		</fieldset>
	</div>
</div>

<div class="fl w-100 pa2">
	<div class="fl w-100 w-20-ns pa2">
		<p>multiple files</p>
	</div>

	<div class="fl w-100 w-80-ns pa2">
		<fieldset>
			<input type="file" multiple="true" name="my_files" id="my_files" data-multiple-caption="{count} files selected">
			<label for="my_files"><span class="button primary-button mr2">choose file(s)</span> <span class="update-text">no file(s) chosen</span></label>
		</fieldset>
	</div>
</div>

<div class="fl w-100 pa2">
	<p class="styleguide-label">radios & checkboxes</p>
</div>

<div class="fl w-100 pa2">
	<div class="fl w-100 w-20-ns pa2">
		<p>checkboxes</p>
	</div>

	<div class="fl w-100 w-80-ns pa2">
		<fieldset>
			<input type="checkbox" value="checkbox_value" id="my_checkbox">
			<label for="my_checkbox">this is a label</label>
		</fieldset>
		<fieldset>
			<input type="checkbox" value="checkbox_value_two" id="my_checkbox_two">
			<label for="my_checkbox_two">this is another label</label>
		</fieldset>
	</div>
</div>

<div class="fl w-100 pa2">
	<div class="fl w-100 w-20-ns pa2">
		<p>radio buttons</p>
	</div>

	<div class="fl w-100 w-80-ns pa2">
		<fieldset>
			<input type="radio" id="radio_one" name="radio_buttons" checked/>
			<label for="radio_one">this is a label</label>
		</fieldset>
		<fieldset>
			<input type="radio" id="radio_two" name="radio_buttons"/>
			<label for="radio_two">this is another label</label>
		</fieldset>
	</div>
</div>

<div class="fl w-100 pa2">
	<p class="styleguide-label">numbers</p>
</div>

<div class="fl w-100 pa2">
	<div class="fl w-100 w-20-ns pa2">
		<p>numbers</p>
	</div>

	<div class="fl w-100 w-80-ns pa2">
		<fieldset>
			<label>this is a label</label>
			<input type="number" min="1" max="250" placeholder="--">
		</fieldset>
	</div>
</div>
