<div class="fl w-100 pa2 bb b--gray mb4">
  <h1 class="bold">tabs</h1>
</div>

<div class="fl w-100 pa2">
  <div class="fl w-100 w-20-ns pa2">
    <p class="styleguide-label">simple tabs</p>
  </div>

  <div class="fl w-80 pa2">
		<div class="fl w-100 pa2">
			<ul class="tabs js-tabs pa2">
				<li><a href="#tab-1">Tab 1</a></li>
				<li><a href="#tab-2">Tab 2</a></li>
				<li><a href="#tab-3">Tab 3</a></li>
			</ul>
		</div>

		<div id="tab-1" class="fl w-100 pa2">
			<p>Tab 1</p>
		</div>

		<div id="tab-2" class="fl w-100 pa2">
			<p>Tab 2</p>
		</div>

		<div id="tab-3" class="fl w-100 pa2">
			<p>Tab 3</p>
		</div>
  </div>
</div>
