<div class="fl w-100 pa2 bb b--gray mb4">
  <h1 class="bold">toasts</h1>
</div>

<div class="fl w-100 pa2">
  <div class="fl w-100 w-20-ns pa2">
    <p class="styleguide-label mt3">simple table</p>
  </div>

  <div class="fl w-80 pa2">
    <table class="womp-simple-table">
      <thead>
        <th>column 1</th>
        <th>column 2</th>
        <th>column 3</th>
        <th>column 4</th>
        <th>column 5</th>
      </thead>

      <tbody>
        <tr>
          <td>column 1.1</td>
          <td>column 2.1</td>
          <td>column 3.1</td>
          <td>column 4.1</td>
          <td>column 5.1</td>
        </tr>

        <tr>
          <td>column 1.1</td>
          <td>column 2.1</td>
          <td>column 3.1</td>
          <td>column 4.1</td>
          <td>column 5.1</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
