<div class="fl w-100 pa2 bb b--gray mb4">
  <h1 class="bold">toasts</h1>
</div>

<div class="fl w-100 pa2">
  <div class="fl w-100 w-20-ns pa2">
    <p class="styleguide-label mt3">positive toast</p>
  </div>

  <div class="fl w-80 pa2">
    <p><a href="javascript:void(0)" class="js-show-positive-toast button primary-button">show positive toast</a></p>
  </div>
</div>

<div class="fl w-100 pa2">
  <div class="fl w-100 w-20-ns pa2">
    <p class="styleguide-label mt3">negative toast</p>
  </div>

  <div class="fl w-80 pa2">
    <p><a href="javascript:void(0)" class="js-show-negative-toast button primary-button">show negative toast</a></p>
  </div>
</div>
