<div class="fl w-100 pa2 bb b--gray mb4">
  <h1 class="bold">typography</h1>
</div>

<div class="fl w-100 pa2">
  <div class="fl w-100 w-20-ns pa2">
    <p class="styleguide-label mt3">impact<br/>heros & banners</p>
  </div>

  <div class="fl w-80 pa2">
    <h1 class="impact bold">a long time ago in a galaxy far...</h1>
    <h1 class="impact">a long time ago in a galaxy far...</h1>
  </div>
</div>

<div class="fl w-100 pa2">
  <div class="fl w-100 w-20-ns pa2">
    <p class="styleguide-label mt3">h1<br/>main headings</p>
  </div>

  <div class="fl w-80 pa2">
    <h1 class="bold">a long time ago in a galaxy far...</h1>
    <h1>a long time ago in a galaxy far...</h1>
  </div>
</div>

<div class="fl w-100 pa2">
  <div class="fl w-100 w-20-ns pa2">
    <p class="styleguide-label mt2">h2<br/>secondary headings</p>
  </div>

  <div class="fl w-80 pa2">
    <h2 class="bold">a long time ago in a galaxy far...</h2>
    <h2>a long time ago in a galaxy far...</h2>
  </div>
</div>

<div class="fl w-100 pa2">
  <div class="fl w-100 w-20-ns pa2">
    <p class="styleguide-label mt1">h3<br/>sub headings</p>
  </div>

  <div class="fl w-80 pa2">
    <h3 class="bold">a long time ago in a galaxy far...</h3>
    <h3>a long time ago in a galaxy far...</h3>
  </div>
</div>

<div class="fl w-100 pa2">
  <div class="fl w-100 w-20-ns pa2">
    <p class="styleguide-label">paragraph</p>
  </div>

  <div class="fl w-80 pa2">
    <p class="bold">a long time ago in a galaxy far...</p>
    <p>a long time ago in a galaxy far...</p>
  </div>
</div>

<div class="fl w-100 pa2">
  <div class="fl w-100 w-20-ns pa2">
    <p class="styleguide-label">caption</p>
  </div>

  <div class="fl w-80 pa2">
    <p class="caption bold">a long time ago in a galaxy far...</p>
    <p class="caption">a long time ago in a galaxy far...</p>
  </div>
</div>

<div class="fl w-100 pa2">
  <div class="fl w-100 w-20-ns pa2">
    <p class="styleguide-label">tiny</p>
  </div>

  <div class="fl w-80 pa2">
    <p class="tiny bold">a long time ago in a galaxy far...</p>
    <p class="tiny">a long time ago in a galaxy far...</p>
  </div>
</div>
