<div class="bg-near-white ph6 ph7-l pv7 tc tl-l w-100">
  <div class="mw8 center pl7-l pv6">
	  <h1 class="f2 fw7 lh-title mv0 mw8 center"><%= title %></h1>

	  <% if sub_title.present? %>
	    <p class="f4 fw4 lh-copy measure-ns mt2 mb5"><%= sub_title %></p>
	  <% end %>
	</div>
</div>
