<div class="cf mw8 center pv5 ph2">
  <div class="cf mb4">
    <div class="fl w-100">
      <%= render 'shared/viewer', upload: @printing_project.uploads.last, project: @printing_project %>
    </div>
  </div>
</div>
