<%= render 'shared/page_hero', title: 'about us', sub_title: nil %>

<div class="fl w-100 pa2 mt4">
	<p class="mb3">womp is a women run digital manufacturing studio based in brooklyn, ny. by opening up the barrier between 3d services and the everyday user, womp’s expert staff provides the necessary tools and guidance for any individual wanting to create their own 3d content. womp’s customer friendly all-in-one web platform helps configure instant quotes for 3d scanning, 3d CAD, and 3d printing with affordable flat rate pricing.</p>
	<p class="mv3">understanding the impact that the 3d file will have on the future of manufacturing and consum- erism, womp takes initiative in providing sustainable options that are beneficial to its users and their environments without jeopardizing the importance of design.</p>
</div>
