<%= render 'shared/page_hero', title: 'terms and conditions', sub_title: nil %>

<div class="fl w-100 pa2 mb4">
	<p class="mb2">These following terms and conditions are a legal agreement between you and Womp.</p>
	<p class="mb2">The terms and conditions below apply to your access to and use of www.womp.xyz (the “​<b>platform​</b>” or “<b>​site​</b>”) as well as the production services and features offered by womp through the web platform.</p>
	<p class="mb2">By submitting a project via the web platform, accepting a quote via the platform or otherwise using the site, you agree to be legally bound by all of the terms and conditions of these terms. If you do not agree with these terms and conditions, you should not use womp's site or services.</p>
	<p class="mb2">If you are accepting these terms and conditions on behalf of a company (or other entity) or if you are accessing the services in your capacity as an employee, consultant or agent of a company (or other entity), you represent that you are an employee, consultant or agent of such company (or other entity) and you have the authority to agree, on behalf of such company (or other entity), to all of the terms and conditions of these Terms.</p>

	<h2 class="mt4">service terms</h2>
	<p class="mb2">womp is made up of different services provided through the platform. One of our Services enables you to send in an object to be scanned to create a 3d model. You can also send in instructions, drawings, and/or images for us to create a 3d model. All 3d models are viewable through our 3d viewer on the site and can be printed in our variety of materials offered. Our pricing is based on service and the price for the substance used to 3D scan, 3D Model, or 3D Print.</p>

	<h2 class="mt4">account terms</h2>
	<p class="mb2">You must be 18 years or older to utilize womp's services. In order to use womp's services, you must create an account with womp via the site. By registering you are agreeing to provide all current and accurate identification and information that is requested. womp is not liable for the failure of account security or password. By using our services you are agreeing to not violate these terms and conditions and any laws or regulations. womp has the right to revoke the use of the site and services at any time and does not require a reason. As a user you can delete your account at any time through the site.</p>

	<h2 class="mt4">ordering</h2>
	<ul class="disc">
		<li>placing an order</li>
	</ul>
	<p class="mb2">To order a 3d scan, 3d model, or 3d print through our site you will be asked a series of questions describing the projects, design specifications, dimensions, and material. Next, womp will ask for you to provide shipping instructions. A quote will be generated through the web platform and a representative will be available through the projects messaging system. Depending on your preferred payment method you may be redirected to a third party payment facilitator site. Once the quote is paid the project will be completed and shipped to the provided shipping address.</p>

	<ul class="disc">
		<li>orders that are denied or canceled by womp</li>
	</ul>
	<p class="mb2">womp may reject and cancel your order for technical or other reasons. womp will contact you through the messaging system to inform you of these cancellations and issues and you will receive a full refund.</p>

	<ul class="disc">
		<li>pricing</li>
	</ul>
	<p class="mb2">womp reserves the right to alter prices on the site at any time without any notice. These changes will not alter projects that have already been paid and submitted. If a price is generated incorrectly through our web platform, womp reserves the right to cancel and refund the order. In this case womp will contact and inform the user through the messaging system of these issues. The total quote generated in the invoice includes the fee for material, service, and design. The tax is included in the final invoice and shipping costs are added and determined by the chosen destination of the user. The invoice does not include any import or duty taxes that apply when payment is completed in a currency other than the dollar. In this case your payment company or payment processor may charge you a currency conversion fee. womp is not responsible for these fees nor are these fees known or controlled by womp. You can initiate your payment for your order via credit card. Womp does not begin a project until payment is received.</p>

	<ul class="disc">
		<li>accepted orders</li>
	</ul>
	<p class="mb2">Once your order has been accepted and payment is confirmed, you will be able to to track the progression of your project on the project page on the site. If there are errors within your order or information please contact us immediately through the projects messaging system.</p>

	<ul class="disc">
		<li>shipment</li>
	</ul>
	<p class="mb2">Your completed project will be shipped to the address provided by the user. Dependent upon the shipping address the indicated shipping timeline may change and take longer. All delivery timelines are estimates by womp and can not be 100% guaranteed. womp is not responsible for any loss or damage caused during shipment.</p>

	<ul class="disc">
		<li>cancelled orders</li>
	</ul>
	<p class="mb2">A user can cancel their order, but it must be cancelled within 12 hours after the project has been submitted.</p>

	<h2 class="mt4">warranty; disclaimer.</h2>
	<p class="mb2">womp warrants that projects that are scanned, modeled, or printed by womp will substantially meet the features and descriptions provided by the user within the limitations of 3D technology. The user maintains sole legal responsibility for the design specifications and performance of the 3D model that is the subject of this transaction. please inspect projects upon receival immediately. If the 3d model or print is faulty or has issues when you received it and you believe you are entitled to a replacement or edits in accordance with the warranty above, you must contact womp through the messaging system within 7 business days after receipt of the project. Do not return the 3D print unless we require you to do so. womp reserves the right to determine whether you are entitled to a replacement or refund. womp determines if a refund or replacement is necessary and proves the claims of the user by examining the provided photographs and documentation sent by the user. If womp refunds a project we will take responsibility for any return shipping costs. “Just print it” projects are not eligible for refunds or replacements.</p>

	<p class="mb2">Please note, unless otherwise stated in the description for a specific material, our printing materials are to be used for decorative use only. The user is solely responsible for choosing the best suited material for their project.</p>

	<ul class="disc">
		<li>use of womp's website</li>
	</ul>
	<p class="mb2">All content (excluding user content) including but not limited to, proprietary software, services, text photographs, 3d models are copyright to Womp.</p>

	<ul class="disc">
		<li>user content</li>
	</ul>
	<p class="mb2">User content refers to content uploaded to womp's site by the user. Content includes but is not limited to uploaded 3d models, photographs, drawings, text, and 3d prints. womp has no obligation to review user content and is not responsible for any user content. The user retains all rights to intellectual property of content uploaded to womp's website. Womp will not edit or use any user content other than 3d models that are requested by the user to be modified by womp's services. By using womp's site users are guaranteeing all uploaded content is the original content of the user and not copied from any third party. By uploading your 3D Model to the Services, you grant Shapeways a non-exclusive, royalty free, worldwide, transferable, and sublicensable right and license to use your 3D Model for the manufacturing of your 3D Model in order to fulfill your order.</p>

	<ul class="disc">
		<li>personal information</li>
	</ul>
	<p class="mb2">By using womp's services you agree that womp can collect and use your personal data for what is needed for the project.</p>

	<h2 class="mt4">payments and billing</h2>
	<p class="mb2">any payment terms presented to you in the process of using or signing up for a Paid Service are deemed part of these Terms and Conditions. We use a third-party payment processor (the “Payment Processor”) to bill you through a payment account linked to your Account. The processing of payments will be subject to the terms, conditions and privacy policies of the Payment Processor in addition to these Terms and Conditions. We are not responsible for error by the Payment Processor. By choosing to use Paid Services, you agree to pay us, through the Payment Processor, all charges at the prices then in effect for any use of such Paid Services in accordance with the applicable payment terms and you authorize us, through the Payment Processor, to charge your chosen payment provider (your “Payment Method”). You agree to make payment using that selected Payment Method. The terms of your payment will be based on your Payment Method and may be determined by agreements between you and the financial institution, credit card issuer or other provider of your chosen Payment Method. You must provide current and accurate billing information and must update all information promptly to keep all account information current.</p>

	<h2 class="mt4">legal responsibilities</h2>
	<p class="mb2">Users hold womp, womp's affiliates, vendors, and each of our and their respective employees, contractors, directors, suppliers and representatives from all liabilities, claims, and expenses, including reasonable attorneys’ fees, that arise from or relate to your use or misuse of, or access to, the Services, content, or otherwise from your User Content, 3D Models, violation of these Terms and Conditions, or infringement by you, or any third party using your Account or identity in the Services, of any intellectual property or other right, claim or action, including but not limited to personal injury or property damage of any person or entity. We reserve the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will assist and cooperate with us in asserting any available defenses. This indemnity also includes shop owners who make available models that can be customized by you in the event that a claim is brought against that shop owner for modifications to the model initiated by you.</p>

	<h2 class="mt4">applicable law</h2>
	<p class="mb2">These Terms and Conditions and the use of Services shall be governed by the laws of New York, USA without regard to the conflicts of law principles thereof that would apply the law of any jurisdiction other than New York, USA. You agree that any and all disputes arising from or relating to the subject matter of these Terms and Conditions, including disputes relating to the validity thereof, and any disputes related to the use of the Services, shall be governed by the exclusive jurisdiction and venue of the federal and state courts located in Kings County, New York, USA.</p>

	<h2 class="mt4">changes to these terms and conditions</h2>
	<p class="mb2">womp reserves the right to change these Terms and Conditions at any time and will post any revisions on our site. All transactions are subject to the Terms and Conditions in effect at the time of the transaction.</p>
</div>
