<%= javascript_pack_tag 'react-admin' %>

<div class="fl w-100 mb4 annotate-container">
  <% if @upload.file.previewable? || @upload.file.variable? %>
    <%= react_component("Annotator", { imageUrl: @upload.file_image_url, imageAltText: 'Womp Image', projectId: @upload.project.id, uploadId: @upload.id, existingAnnotations: @upload.formatted_annotations, readOnly: @upload.annotate_read_only(current_admin_user) }) %>
  <% else %>
    <p>only image files can be annotated</p>
  <% end %>
</div>
