<p>
	Hi,<br/><br/>

	Womp has approved your model for printing.<br/>

	To view your project and checkout, <b><%= link_to 'click here', printing_project_url(@printing_project) %>.</b><br/><br/>

	Thanks!<br/>
	The Womp Team
</p>
