<p>
	A payment has been received from <b><%= @printing_project.user.email %></b>. It's time to print their project. To see this project, <b><%= link_to 'click here', admin_printing_project_url(@printing_project) %>.</b>
</p>
