<p>
	A model has been accepted by <b><%= @modeling_project.user.email %></b>. To see it <b><%= link_to 'click here', admin_modeling_project_url(@modeling_project) %></b>. No action is needed, this project is completed.
</p>
