<p>
	Hi,<br/><br/>

	Womp has reviewed your project and has assigned your project an additional pricing group for the changes you've requested.<br/>

	To view your project and pay for your changes, <b><%= link_to 'click here', modeling_project_url(@new_modeling_project) %>.</b><br/><br/>

	Thanks!<br/>
	The Womp Team
</p>
