<p>
	Hi,<br/><br/>

	Womp has uploaded a new model to your project.<br/>

	To view your project and review your model, <b><%= link_to 'click here', modeling_project_url(@modeling_project) %>.</b><br/><br/>

	Thanks!<br/>
	The Womp Team
</p>
