<p>
	A payment has been received from <b><%= @modeling_project.user.email %></b>. It's time to model their project. To see this project, <b><%= link_to 'click here', admin_modeling_project_url(@modeling_project) %>.</b>
</p>
